<div class="row">
    <form>
        <legend>Follow up</legend>
        
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Follow up date</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder=<%= Date.today %> readonly="">
            </fieldset>
        </div>
        
        <div class="form-group">
            <fieldset>
                <label for="tech-select">Imaging available/required at time of review?</label>
                <select class="tech-select">
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select>
            </fieldset>
        </div>
        
        <div class="form-group">
              <label for="exampleSelect2">Modality (multiple select)</label>
              <select multiple="" class="form-control" id="exampleSelect2">
                <option>Ultrasound (US)</option>
                <option>CT</option>
                <option>Cone-beam CT</option>
                <option>MRI</option>
              </select>
        </div>
        
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Modality date</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder=<%= Date.today %> readonly="">
            </fieldset>
        </div>
        
        <div class="form-group">
            <label for="lesiond1">Lesion dimension 1 (cm)</label>
            <input type="number" class="form-control" id="lesiond1" placeholder="(cm)">
        </div>
        
        <div class="form-group">
            <label for="lesiond2">Lesion dimension 2 (cm)</label>
            <input type="number" class="form-control" id="lesiond2" placeholder="(cm)">
        </div>
        
        <div class="form-group">
            <label for="lesiond3">Lesion dimension 3 (cm)</label>
            <input type="number" class="form-control" id="lesiond3" placeholder="(cm)">
        </div>
        
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Primary clinical indication</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="Pain" readonly="">
            </fieldset>
        </div>
        
        <div class="form-group">
            <fieldset>
                <label for="tech-select">Primary symptoms update</label>
                <select class="tech-select">
                    <option value="1">Cure</option>
                    <option value="2">Improved</option>
                    <option value="3">No change</option>
                    <option value="4">Worsened</option>
                </select>
            </fieldset>
        </div>
        
        <div class="form-group">
            <label for="lesiond3">Pain</label>
            <input type="number" class="form-control" id="lesiond3" placeholder="Pain">
        </div>
        
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Secondary clinical indication</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="Pain : Mass effect" readonly="">
            </fieldset>
        </div>
        
        <div class="form-group">
            <fieldset>
                <label for="tech-select">Secondary symptoms update</label>
                <select class="tech-select">
                    <option value="1">Cure</option>
                    <option value="2">Improved</option>
                    <option value="3">No change</option>
                    <option value="4">Worsened</option>
                </select>
            </fieldset>
        </div>
        
        <div class="form-group">
            <label for="lesiond3">Pain</label>
            <input type="number" class="form-control" id="lesiond3" placeholder="Pain">
        </div>
        
        
        <div class="form-group">
              <label for="exampleSelect2">New lesion related symptoms (multiple select)</label>
              <select multiple="" class="form-control" id="exampleSelect2">
                <option>Pain</option>
                <option>Function</option>
                <option>Oncological control</option>
                <option>Mass effect</option>
              </select>
        </div>
        
        <div class="form-group">
            <fieldset>
                <label for="tech-select">Histological diagnosis</label>
                <select class="tech-select">
                    <option value="1">Cure</option>
                    <option value="2">Improved</option>
                    <option value="3">No change</option>
                    <option value="4">Worsened</option>
                </select>
            </fieldset>
        </div>
        
        <div class="form-group">
            <fieldset>
                <label class="control-label" for="readOnlyInput">Histological diagnosis</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="Search" readonly="">
            </fieldset>
        </div>
        
        <div class="form-group">
            <fieldset>
                <label for="tech-select">Disease free?</label>
                <select class="tech-select">
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select>
            </fieldset>
        </div>
        
        <div class="form-group">
            <fieldset>
                <label for="tech-select">Disease type (Show if disease free = no)</label>
                <select class="tech-select">
                    <option value="1">Disease 1</option>
                    <option value="2">Disease 2</option>
                </select>
            </fieldset>
        </div>
        
        
    </form>
</div>