<h3>Cryoablation mockup</h3>

<div class="container">
    <div class="row">
            <form>
                <fieldset>
                  <legend>Patient</legend>
                  
                  <div class="form-group">
                      <label for="gender-select">Gender </label>
                      <select class="gender-select">
                          <option value="1">Not known</option>
                          <option value="2">Male</option>
                          <option value="3">Female</option>
                          <option value="3">Not specified</option>
                      </select>
                  </div>
                  
                  <div class="form-group">
                      <label for="comorb-select">Comorbidities </label>
                      <select class="gender-select">
                          <option value="1">Haematological</option>
                          <option value="2">Neurological</option>
                      </select>
                  </div>
                      
                      
                </fieldset>
            </form>
            
    </div>
</div>


